body{
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
}

.top-banner{
    text-align: center;
    padding: 230px;
    background-image: url(./images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.top-banner h1{
    font-size: 3rem;
    font-weight: 800;
    background-color: rgba(128, 128, 128, 0.548);
}
.button{
    padding: 15px;
    background-color: brown;
    color: white;
    text-decoration: none;
    border-radius: 9%;
}
.amount-section{
    text-align: center;
    padding: 50px;
}
.amount{
    display: inline-block;
    border: 2px solid rgb(155, 154, 154);
    padding: 20px;
    color: gray;
}
.amount:hover{
    border: 2px solid rgb(233, 18, 18);
    color: rgb(226, 12, 12);
}

.input{
    display: inline-block;
    width: 550px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
}
.plans-section h2 {
    text-align: center;
}
.plans-section h3{
    color: black;
}

.plans{
    display: flex;
    margin-top: 30px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.plans-card{
    width: 33%;
    padding: 2%;
    margin-left: 2%;
    border-radius: 2%;
    color: rgb(88, 88, 88);
}
#one{
    background-color: rgba(204, 108, 52, 0.199);
}
#two{
    background-color: rgba(208, 214, 121, 0.329);
}
#three{
    background-color: rgba(0, 255, 255, 0.212);
}

.blog-section{
    display: flex;
    padding: 11%;
}
.blog-section img{
    width: 80%;
    margin-left: 15%;
    border-radius: 5%;
}

.email-section{
    text-align: center;
    margin-top: 3%;
    padding-left: 17%;
    padding-right: 17%;
}

.email-subscribe{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: rgb(250, 228, 192);
    

}
.subscribe-button{
        
        text-decoration: none;
        text-align: center;
        background: rgb(216, 66, 66);
        padding: 10px 9px;
        border-radius: 5%;
}